@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {

}

.pos0 {
    --position: 0;
}

.pos1 {
    --position: 1;
}

.view-border {
    border: 1px red solid;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Karla", sans-serif;
}

button {
    cursor: pointer;
}

.container {
    width: 600px;
    height: 200px;
    overflow: hidden;
}

.container form {
    width: inherit;
    display: flex;
    position: relative;
}

.container form .email-password {
    width: 100%;
    transform: translateX(calc(101% * var(--position)));
    position: absolute;
    transition: 0.5s;
}

.container form div input[type="email"] {
    display: block;
    width: 100%;
}

.show-password-container {
    transform: translateX(calc(-101% * var(--position))) !important;
}